@import url('https://fonts.googleapis.com/css?family=Alfa+Slab+One|Coda+Caption:800&display=swap');
@import url('https://fonts.googleapis.com/css?family=Bebas+Neue&display=swap');

.navbar a{
	font-family:'Alfa Slab One', cursive;
}

.navbar-brand {
	color: white !important;
	font-family:'Coda Caption', sans-serif !important;
}

.btn {
	font-family:'Alfa Slab One', cursive !important;
	color:white;
}


.jumbotron {
	background-color:crimson;
}

.jumbotron h1{
	font-family:'Alfa Slab One', cursive !important;
	font-size: 48px;
	color:white;
}

.jumbotron h2{
	font-family:'Alfa Slab One', cursive !important;
	font-size: 48px;
	color:white;
	position:absolute;
	left:600px;
}

.jumbotron p{
	color:white;
}

body {
	background-color:white;
}

th {
	color: white;
	font-size: 24pt;
	font-family: 'Bebas Neue', cursive;
	text-align: center;
}
td {
	text-align: center;
	font-family:'Alfa Slab One', cursive;
}
.modal h4 {
	font-family:'Alfa Slab One', cursive;
	color:black;
	font-size: 24pt;
	text-align:center;
}
.modal {
	background-color:black;
}
img {
	max-height: 190px;
	max-width: 170px;
}
